{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">{{user['firstName']}} reviews</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.</a>.
            </div>
        {% endif %}
        {% endwith %}
        
        {% if reviews%}
            <table border="1" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th>Schedule name</th>
                    <th>CreatorID</th>
                    <th>SchedID</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for row in reviews %}
                        <tr> 
                              <th>{{row['creatorId']}}</th>
                              <td>{{row['comment']}}</td>
                              <td>{{row['stars']}}</td>
                              <td>{{row['approvedFlag']}}</td>
                              <td><a >make an href to see actual review later</a></td>
                              {% if not row['approvedFlag']%}
                              <td><a>approve review</a></td>
                              {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
              

        {% else %}
            <h3>{{user['firstName']}} has no reviews.</h3>
        {% endif %}
    </div>
</div>
{% endblock %}

