<!--
    NOT TO BE CONFUSED WITH SCHEDULE
    html file for viewing ONE CERTAIN schedule

-->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">{{schedule['scheduleName']}}</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.</a>.
            </div>
        {% endif %}
        {% endwith %}
        
        {% if events %}
            {% if current_user.id == schedule['creatorId'] %}<a href="/schedules/{{schedule['scheduleId']}}/createevent"> add new event</a> {% endif %}
            <table border="1" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th>Event name</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Location</th>
                    <th>actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr> 
                              <th>{{event['name']}}</th>
                              <td>{{event['startTime']}}</td>
                              <td>{{event['endTime']}}</td>
                              <td>{{event['location']}}</td>
                              <td>
                                {% if current_user.id == schedule['creatorId'] %}<a href="/schedules/{{schedule['scheduleId']}}/{{event['eventId']}}">edit</a>{% endif %}
                                {% if current_user.isAdmin or current_user.id == schedule['creatorId'] %}<a href="/schedules/{{schedule['scheduleId']}}/{{event['eventId']}}/remove">remove</a>{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
              

        {% else %}
            <h3>no events in schedule</h3>
            {% if current_user.id == schedule['creatorId'] %} <a href="/schedules/{{schedule['scheduleId']}}/createevent">why not make one?</a>{% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}