{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Schedules</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.</a>.
            </div>
        {% endif %}
        {% endwith %}
        
        {% if schedules%}
            <a href="/createschedule"> make new schedule</a>    
            <table border="1" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th>Schedule name</th>
                    <th>CreatorID</th>
                    <th>SchedID</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for row in schedules %}
                        <tr> 
                              <th>{{row['scheduleName']}}</th>
                              <td>{{row['creatorId']}}</td>
                              <td>{{row['scheduleId']}}</td>
                              <td>{{row['startDate']}}</td>
                              <td>{{row['endDate']}}</td>
                              <td><a href="schedules/{{row['scheduleId']}}">view</a>
                                {% if current_user.is_authenticated %} <a href="downloadschedule/{{row['scheduleId']}}">Download</a> {% endif %}
                                {% if current_user.isAdmin == true %}<a>Delete</a>{% endif %}
                                </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
              

        {% else %}
            <h3>schedules is empty</h3>
            <a href="/createschedule">why not make one?</a>
        {% endif %}
    </div>
</div>
{% endblock %}

