{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Attractions in {{city['name']}}</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.</a>.
            </div>
        {% endif %}
        {% endwith %}
        
        {% if attractions %}
            <a href="/locations/{{city['airportCode']}}/addattraction">Request to add new attraction</a>    
            <h3>counter at {{count}}</h3>
            <table border="1" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th>Attraction name</th>
                    <th>Address</th>
                    <th>Cost</th>
                    <th>Type of restaurant</th>
                    <th>Menu</th>
                    <th>Activity</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for row in attractions %}
                        <tr> 
                              <th>{{row['Name']}}</th>
                              <td>{{row['Address']}}</td>
                              <td>{{row['Cost']}}</td>
                              <td>{{row['typeOfRestaurant']}}</td>
                              <td>{{row['menu']}}</td>
                              <td>{{row['activity']}}</td>
                              <td>
                                <a href="/locations/{{city['airportCode']}}/{{row['Address']}}">View reviews</a>
                                {% if current_user.is_authenticated %}<a>add review</a>{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
              

        {% else %}
            <h3>attractions is empty</h3>
            <a href="/locations/{{city['airportCode']}}/addattraction">why not make one?</a>
        {% endif %}
    </div>
</div>
{% endblock %}

