{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Countries</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.</a>.
            </div>
        {% endif %}
        {% endwith %}
        
        {% if countries%}
            <h2>locations</h2>
            <table border="1" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th>Country name</th>
                  </tr>
                </thead>
                <tbody>
                    {% for row in countries %}
                        <tr> 
                              <a href="/locations/countries/{{row['countryName']}}">{{row['countryName']}}</a>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
              

        {% else %}
            <h3>ok it works</h3>
        {% endif %}
    </div>
</div>
{% endblock %}