{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">My Reviews</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.</a>.
            </div>
        {% endif %}
        {% endwith %}
        
        {% if reviews %}
            <table border="1" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th>Review Id</th>
                    <th>User Id</th>
                    <th>Comment</th>
                    <th>Stars</th>
                    <th>Address</th>
                    <th>approved?</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for row in reviews %}
                        <tr> 
                              <th>{{row['reviewId']}}</th>
                              <td>{{row['creatorId']}}</td>
                              <td>{{row['comment']}}</td>
                              <td>{{row['stars']}}</td>
                              <td>{{row['attractionAddress']}}</td>
                              <td>{{row['approvedFlag']}}</td>
                              <td>
                                {% if current_user.id == row['creatorId'] %}
                                    <a href="/myreviews/{{row['reviewId']}}">edit review</a>
                                {% endif %}
                                {% if current_user.id == row['creatorId'] or current_user.isAdmin %}
                                    <a href="/myreviews/{{row['reviewId']}}/delete">delete review</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
              

        {% else %}
            <h3>No reviews</h3>
        {% endif %}
    </div>
</div>
{% endblock %}

