{% extends "base.html" %}

{% block content %}
<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                    <a href = "{{url_for('adminView.adminUsers')}}" class="navbar-item">
                        View users
                    </a>

                    <a  href="{{url_for('adminView.adminViewPendingReviews')}}" class="navbar-item">
                        View pending reviews
                    </a>
                    
                    <a href = "{{url_for('adminView.adminViewPendingAttractions')}}" class="navbar-item">
                        View pending attractions
                    </a>

                    <a href="{{url_for('adminView.adminSuggestions')}}" class="navbar-item">
                        view all suggestions
                    </a>

                </div>
            </div>
        </div>
    </nav>
</div>

<h3 class="title">Admin page</h3>
{% endblock %}

