{% extends "base.html" %}


{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">{{my}} Suggestions</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.</a>.
            </div>
        {% endif %}
        {% endwith %}
        
            <table border="1" class="dataframe">
                <thead>
                  <tr style="text-align: right;">
                    <th>admin id</th>
                    <th>user id</th>
                    <th>description</th>
                  </tr>
                </thead>
                <tbody>
                    {% for row in suggestions %}
                        <tr> 
                              <th>{{row['adminId']}}</th>
                              <td>{{row['userId']}}</td>
                              <td>{{row['description']}}</td>
                              <td>
                                <a>remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>

    </div>
</div>
{% endblock %}
